[submodule "app"]
	path = app
	url = https://github.com/hamburger-os/hamburger-os-app.git
[submodule "bsp"]
	path = bsp
	url = https://github.com/hamburger-os/hamburger-os-bsp.git
[submodule "lib"]
	path = lib
	url = https://github.com/hamburger-os/hamburger-os-lib.git
